// src/styles/components/_cards.scss
@use '../variables' as *;
@use '../mixins' as *;

// tarjeta resultado buscar
.resultado-item {
    @include center-flex;
    flex-direction: column;  // Añado esto para mejor estructura
    background-color: $color-item;
    padding: $spacing-xl;
    margin-top: $spacing-xl;
    margin-bottom: $spacing-xl;
    margin-inline: 45rem;  // ⚠️ Esto es muy grande, revísalo
    border-radius: $radius-md;
    transition: background-color $transition-slow ease;  // ✅ Movido aquí
    
    &:hover {
        background-color: $color-transition;
    }
}

// tarjeta resultado producto
.producto-item {
    @include center-flex;
    background-color: $color-item;
    padding: $spacing-xl;
    margin-top: $spacing-xl;
    margin-bottom: $spacing-xl;
    border-radius: $radius-md;
    transition: background-color $transition-slow ease;

    &:hover {
        background-color: $color-transition;
    }
}
// tarjeta suscripccion
.suscription-item {
    @include center-flex;
    background-color: $color-suscription-item;
    display: flex;
    flex-direction: column;
    padding: $spacing-xl;
    margin-top: $spacing-xl;
    margin-bottom: $spacing-xl;
    border-radius: $radius-md;
    transition: background-color $transition-slow ease;

    &:hover {
        background-color: $color-transition;
    }
}
// tarjeta resultado buscar
.resultado-item {
    @include center-flex;
    flex-direction: column;  // Añado esto para mejor estructura
    background-color: $color-formulary;
    padding: $spacing-xl;
    margin-top: $spacing-xl;
    margin-bottom: $spacing-xl;
    margin-inline: 45rem;  // ⚠️ Esto es muy grande, revísalo
    border-radius: $radius-md;
    transition: background-color $transition-slow ease;  // ✅ Movido aquí
    
    &:hover {
        background-color: $color-transition;
    }
}

//contenerdor de producto del carrito
.carrito-item {
    @include center-flex;
    flex-direction: column;  // Añado esto para mejor estructura
    background-color: $color-carrito-item;
    padding: $spacing-xl;
    margin-top: $spacing-xl;
    margin-bottom: $spacing-xl;
    margin-inline: 3rem;  // ⚠️ Esto es muy grande, revísalo
    border-radius: $radius-md;
    transition: background-color $transition-slow ease;  // ✅ Movido aquí
    
    &:hover {
        background-color: $color-transition-carrito;
    }

}
// tarjeta suscripccion
.final-item {
    @include center-flex;
    background-color: $color-suscription-item;
    display: flex;
    flex-direction: column;
    padding: $spacing-xl;
    margin-top: $spacing-xl;
    margin-bottom: $spacing-xl;
    border-radius: $radius-md;
    transition: background-color $transition-slow ease;

    &:hover {
        background-color: $color-transition;
    }
}