---
// esto lo hago para poder modificar el formularios y no tener que crear 2 
export interface Props {
    titulo: string;
    nombreBoton: string;  
}
const { titulo, nombreBoton } = Astro.props; 

---
<section class="resultado-item">
<h2 class="title-large" aria-label="{titulo}">{titulo}</h2>
<form>
<label for="login-email" class="title-small" aria-label="Correo electr칩nico" aria-required="true">Email</label>
<input class="formulary-input" id="login-email" type="email" aria-label="Correo electr칩nico" aria-required="true">
<label for="login-pass" class="title-small" aria-label="Contrase침a" aria-required="true">Contrase침a</label>
<input class="formulary-input" id="login-pass" type="password">

<button class="formulary-button" type="submit" role="button" aria-label="Haz click en {nombreBoton}">{nombreBoton}</button>
</form>
</section>

<style lang="scss">
    @use '../styles/variables' as *;
    @use '../styles/mixins' as *;
    @use '../styles/components/inputs.scss' as *;
    @use '../styles/components/buttons.scss' as *;
    @use '../styles/components/titles.scss' as *;
    @use '../styles/components/containers.scss' as *;

    h2{
        text-align: center;
        margin-bottom: $spacing-md;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: $spacing-md;
        width: 300px;
        margin: 0 auto 2rem auto;
    }
    



    
</style>