---
// voy a crear un componente herramientaspaquete para reutilizar en las pagina de inicio
export interface Props {
    nombre: string;
    descripcion: string;
    imagenAlt: string;
}
const { nombre, descripcion, imagenAlt } = Astro.props;
---

<section class="herramienta">
    <h2 aria-label="{nombre}">{ nombre }</h2>
    <p aria-label="{descripcion}">{ descripcion }</p>
    <img src="#" alt="{ imagenAlt }" aria-label="{ imagenAlt }"/>
</section>


<style>
    .herramienta {
    text-align: center;
    width: 200px; 
    }

    .herramienta img {
    width: 100%;    
    height: 150px;  
    object-fit: cover;  
    border-radius: 6px;
    }
</style>