<!-- Suscripciones del paquete  -->
	<section class="suscripciones">
		<h2>Planes de suscripci贸n</h2>
        <div class="planessuscripcion">
		<article  class="plan">
			<h3>suscripci贸n 1</h3>
			<p>Detalles de la suscripcion</p>
			<p>Precio: 99$</p>
			<button>Contratar</button>
		</article>
			<article  class="plan">
			<h3>suscripci贸n 2</h3>
			<p>Detalles de la suscripcion</p>
			<p>Precio: 99$</p>
			<button>Contratar</button>
		</article>
			<article  class="plan">
			<h3>suscripci贸n 3</h3>
			<p>Detalles de la suscripcion</p>
			<p>Precio: 99$</p>
			<button>Contratar</button>
		</article>
        </div>
	</section>

<style>
    .suscripciones h2 {
        text-align: center;
        text-transform: capitalize;
        margin-top: 5rem;
    }
    .planessuscripcion{
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
    .plan {
        align-items: center;
        text-align: center;
        padding: 1rem;
        margin-bottom: 2rem;
    }
	button{
	padding: 0.5rem 1rem;
    border: none;
    background: #056168;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 2rem; 
	}
	button:hover{
		background: #0648fc;
	}
</style>