<!-- Suscripciones del paquete  -->
	<section class="suscripciones">
		<h2 class="title-large" aria-label="Planes de suscripción">Planes de suscripción</h2>
        <div class="planessuscripcion">
		<article  class="suscription-item">
			<h3 aria-label="suscripción 1">suscripción 1</h3>
			<p aria-label="Detalles de la suscripcion">Detalles de la suscripcion</p>
			<p aria-label="Precio: 99$">Precio: 99$</p>
			<button class="suscription-button" role="button" aria-label="Contratar suscripción 1">Contratar</button>
		</article>
			<article  class="suscription-item">
			<h3 aria-label="suscripción 2">suscripción 2</h3>
			<p aria-label="Detalles de la suscripcion">Detalles de la suscripcion</p>
			<p aria-label="Precio: 99$">Precio: 99$</p>
			<button class="suscription-button" role="button" aria-label="Contratar suscripción 2">Contratar</button>
		</article>
			<article  class="suscription-item">
			<h3 aria-label="suscripción 3">suscripción 3</h3>
			<p aria-label="Detalles de la suscripcion">Detalles de la suscripcion</p>
			<p aria-label="Precio: 99$">Precio: 99$</p>
			<button class="suscription-button" role="button" aria-label="Contratar suscripción 3">Contratar</button>
		</article>
        </div>
	</section>

<style lang="scss">	
@use '../styles/variables' as *;
@use '../styles/mixins' as *;
@use '../styles/components/containers.scss' as *;
@use '../styles/components/buttons.scss' as *;
@use '../styles/components/titles.scss' as *;

    .suscripciones h2 {
        text-align: center;
        text-transform: capitalize;
        margin-top: 5rem;
    }
    .planessuscripcion{
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
    .plan {
        align-items: center;
        text-align: center;
        padding: 1rem;
        margin-bottom: 2rem;
    }
	button{
	padding: 0.5rem 1rem;
    border: none;
    background: #056168;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 2rem; 
	}
	button:hover{
		background: #0648fc;
	}
</style>