---
import Encabezado from "../layouts/Encabezado.astro"
---
<Encabezado></Encabezado>

<main>
    <section>
    <h2>Busqueda de paquetes</h2>
    <!--Buscador -->
    <form>
        <input type="text" placeholder="Busca un paquete">
        <button type="submit">Buscar</button>
    </form>
    </section>

    <!--Resultados de busqueda -->
    <section class="resultado">
        <article>
            <h4>Nombre del producto</h4>
            <p>Breve descripcion del producto</p>
            <a href="/productos">Ver producto</a>
        </article>
    </section>
</main>

</body>
</html>
<style>
    h2{
        text-align: center;
        margin-top: 2rem;
    }
    form{
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-top: 1rem;
    }
    button{
        padding: 0.5rem 1rem;
        border: none;
        background: #056168;
        color: white;
        border-radius: 6px;
        cursor: pointer;
    }
    .resultado{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        width: 80%;
        max-width: 600px;
        margin: 2rem auto;
        margin-bottom: 2rem;
        background-color: rgb(187, 230, 247);
        padding: 1rem;
        border-radius: 6px;
    }
    a{
        text-decoration: none;
        color: #0648fc;
    }
</style>