---
import Encabezado from "../layouts/Encabezado.astro"
---
<Encabezado></Encabezado>

<main>
    <section>
    <h2 class="title-large" aria-label="Busqueda de paquetes">Busqueda de paquetes</h2>
    <!--Buscador -->
    <form role="search">
        <input type="text" placeholder="Busca un paquete" class="text-input" aria-label="Campo de búsqueda de paquetes" aria-required="true"/>
        <button type="submit" class="search-button" role="button" aria-label="Buscar paquetes" >Buscar</button>
    </form>
    </section>

    <!--Resultados de busqueda -->
    <section class="resultado">
        <article>
            <h4 class="title-medium" aria-label="Nombre del producto">Nombre del producto</h4>
            <p aria-label="Breve descripcion del producto">Breve descripcion del producto</p>
            <a href="/productos" class="title-small" aria-label="Ver producto" role="link">Ver producto</a>
        </article>
    </section>
</main>

</body>
</html>
<style lang="scss">
    @use '../styles/variables.scss' as *;
    @use '../styles/mixins' as *;
    @use '../styles/components/buttons.scss' as *;
    @use '../styles/components/inputs.scss' as *;
    @use '../styles/components/titles.scss' as *;
    @use '../styles/components/containers.scss' as *;

    main{
        align-items: center;
        text-align: center;
        flex: auto;
        display:block;
    }

    // aqui quiero poner una animacion de que cuando se pase el raton por el contenedor haga una transicion
    .resultado{
        @include center-flex;
        max-width: 800px;
        margin: $spacing-xl auto;
        background-color: $color-item;
        padding: $spacing-xl;
        border-radius: $radius-md;
    }
    .resultado:hover{
        background-color: $color-transition;
        transition: $color-transition $transition-slow ease; 
    }
    .text-input{
        width: 600px;
        border-color: $color-primary;
        }
    a{
        text-decoration: none;
        color: $color-primary;
    }
    a:hover{
        background-color: $color-primary;
        color: white;
        padding: 6px;
        border-radius: $radius-md;
        transition: $color-primary $transition-slow ease; 
    }

</style>