---
import Encabezado from "../layouts/Encabezado.astro"
import Formulario from "../components/formulario.astro"
---
<Encabezado></Encabezado>

  <main>
<Formulario titulo="Iniciar sesión" nombreBoton="Iniciar sesión"></Formulario>

<Formulario titulo="Registrarse" nombreBoton="Registrarse"></Formulario>


</main>

</body>

</html>
